<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    
</head>
<body>
    <%- include ../layout/navbar %>
    <div class="container">
        <h2><%= data %></h2>
        <a class="btn btn-primary"  href="/blogs/add">เพิ่มบทความ</a>
        <a href="/">หน้าหลัก</a>
        <p>
            <!-- <%= blogs %> -->
              <% blogs.forEach(function(blog){ %> 
                <h4><%= blog.title %></h4>
                <p>รายละเอียด : <%= blog.description %></p>
                <a href="/">แก้ไข</a>
                <a href="/">ลบ</a>
                <hr>
            <% }); %> 
        </p>

        
    </div>
</body>
</html>